body {
  color: #130047;
  background: white;
 }
 video {
  min-height: 100%; 
  min-width: 100%; 
  height: 300px !important;
  width: 300px !important; 
 }

 #main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
 }

 #explainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 20px;
  font-size: 24px;
 }
 .size {
  position: absolute;
  top: 0;
  left: 0;

}

 #video-box {
  position: relative;
  border: solid 4px #fbd300;
  padding: 0px;
 }
#disclaimer {
  max-width: 500px;
}
 h1,h3 {
   color: #f75040;
 }
 input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
 }

 select {
  width: 200px;
  box-sizing: border-box;
  border: solid 2px #027bfc;
  background: white;
  color: #027bfc;
  font-size: 24px;


  padding: 10px;
  margin-right: 50px;
 }


 button,
 input,
 label,
 ul {
  width: 300px;
  box-sizing: border-box;
  border: solid 1px white;
  background: #027bfc;
  color: white;
  font-size: 24px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
 }
 img {
  width: 300px;
  margin-bottom: 25px;
 }
 ul {
  list-style: none;
  padding: 10px;
  margin-bottom: 25px;
 }
.result {
  width: 100%;
  z-index: 25;
  position: absolute;
  bottom: 5px;
} 
.result-text{
  float: left;
  color: rgba(125, 197, 62, 0.9);
  width: 12%;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}
.result-bar{
  float: left;
  width: 88%;
}
 .bar {
   height: 30px;
   background-color: rgba(125, 197, 62, 0.9);


 }